th {
    color: white;
    text-transform: uppercase;
}

tr {
    border: 1px solid rgb(75 85 99);
}

td {
    color: rgb(229 231 235);
    
}

.link-movie {
    cursor: pointer;
}
.movie_name {
    font-size: 1.2rem;
    color: rgb(139 92 246);
}

.movie_origin-name {
    font-size: .875rem;
    color: rgb(229 231 235);
}

.current-episode {
    color: rgb(74 222 128);
    background-color: rgb(15 23 42);
}

.table__column {
    padding: 15px 15px 15px 0;
    text-align: left;
}

.contain__tr {
    border-top: 1px solid rgb(75 85 99);
}

/* filter */
select {
    color: rgb(255 255 255);
    background-color: rgb(51 65 85);
    outline: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

option {
    text-transform: capitalize;
}

.submit-form {
    color: rgb(255 255 255);
    background-color: rgb(139 92 246);
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.submit-form:hover {
    background-color: rgb(178, 147, 249);
}
