.contain__title .fa-comments {
    font-size: 25px; 
    margin-top: 4px;
    margin-right: 10px;
}

.submit {
    width: 200px;
}

.form__button {
    background-color:  rgb(139 92 246);
    width: 100px;
    margin: 10px;
    padding: 4px 0;
    border: none;
    border-radius: 10px;
}

.form__input {
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
}